[submodule "hitobito_sbv"]
	path = hitobito_sbv
	url = git@github.com:renuo/hitobito_sbv.git
	branch = master
[submodule "hitobito"]
	path = hitobito
	url = https://github.com/hitobito/hitobito
	branch = master
